div{
    background-color:aquamarine;
    padding: 10px;
    margin-bottom: 10px;

}
li{
    font-size: medium;
    font-weight: 200px ;
     color: darkolivegreen;
}
.a{
    background-color: azure;
}
#p1{
    text-align: center;
    color: blue;
}