div{
    background-color: rgb(176, 162, 184);
    padding: 10px;
    margin-bottom: 10px;

}
li{
    font-size: medium;
    font-weight: 200px ;
     color: darkolivegreen;
}
.a{
    background-color: azure;
}